<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="stack" class="com.spring.stack.demo_stack.Stack" depends-on="size1" lazy-init="true">
		<property name="size" ref="size1"></property>
		<property name="stack">
			<bean class="java.util.ArrayList" >
			<constructor-arg ref="size1"></constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="size1" class="java.lang.Integer" lazy-init="true" >
	<constructor-arg value="0"></constructor-arg>
	</bean>
	
</beans>